@font-face {
  font-family: "Futura PT";
  font-style: normal;
  src: url("/assets/img/fonts/futura/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT";
  font-style: italic;
  src: url("/assets/img/fonts/futura/FuturaPTMediumOblique.otf")
    format("opentype");
}

@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  font-style: normal;
  src: url("/assets/img/fonts/futura/FuturaPTBold.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  font-style: italic;
  src: url("/assets/img/fonts/futura/FuturaPTBoldOblique.otf")
    format("opentype");
}

@font-face {
  font-family: "Futura PT";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/img/fonts/futura/FuturaPTLight.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/img/fonts/futura/FuturaPTLightOblique.otf")
    format("opentype");
}
